a {
  color: #28c5a6;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: #46dabc;
}

/*Social Icons */
.active a {
  font-size: 18px;
}

.social {
  padding: 5px 0;
  font-family: "Open Sans", sans-serif;
  background: #444444;
}
.social .col-sm-4 {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.social a {
  font-family: "Open Sans", sans-serif;
  margin-top: 5px;
  display: inline-block;
}
.social a:hover {
  color: #71e2cc;
  text-decoration: none;
}
.social i {
  font-size: 1.15em;
  padding: 0 5px;
  color: #28c5a6;
}
.social i:hover {
  color: #71e2cc;
}

/* Navigation Styles */
.navbar {
  border-radius: 0px;
  border: none;
}

.navbar-inverse {
  background-color: white;
  border-color: white;
  border-top: 3px solid #28c5a6;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.navbar-inverse .navbar-toggle {
  border-color: white;
  background: none;
}
.navbar-inverse .navbar-toggle:hover {
  background: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background: #28c5a6;
}
.navbar-inverse .navbar-nav > li > a {
  color: #28c5a6;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #ffb434;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background: none;
  color: #ffb434;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #28c5a6;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand {
  color: #28c5a6;
  font-family: "Oswald", sans-serif;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:hover {
  color: #ffb434;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 100px 0 0 0;
  font-family: "Oswald", sans-serif;
  color: #28c5a6;
}

.lead {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #ffb434;
}

@media (min-width: 768px) {
  .social .col-sm-4 {
    text-align: left;
  }
  .social .mailer {
    text-align: center;
  }

  .social-icons {
    float: right;
  }

  .navbar-nav {
    float: right;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  margin-top: 0px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.75em;
}

hr {
  border-top: 1px solid #28c5a6;
}

.mt-block {
  width: 100%;
  display: block;
}
.mt-block:after {
  content: " ";
  clear: both;
  display: block;
}

.content-area {
  padding-top: 20px;
  padding-bottom: 20px;
}
.content-area img {
  max-width: 100%;
  height: auto;
}

.big-image {
  background: url(./images/header-image.jpg);
  -webkit-background-size: 140% auto;
  background-size: 140% auto;
  background-position: center center;
  -webkit-box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.5);
  padding: 0px;
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 8px solid #28c5a6;
}
.big-image:after {
  content: " ";
  border: 50px solid transparent;
  border-top: 50px solid #28c5a6;
  width: 0px;
  height: 0px;
  margin: 0px auto;
  position: relative;
  bottom: -100px;
}
.big-image .border {
  position: relative;
  height: 90px;
  margin: 0px;
}
.big-image .border:before, .big-image .border:after {
  position: absolute;
  content: " ";
  border: 160px solid transparent;
  border-bottom: 160px solid #28c5a6;
  -webkit-transform: scaleY(0.5) scaleX(4);
  -ms-transform: scaleY(0.5) scaleX(4);
  transform: scaleY(0.5) scaleX(4);
  margin-top: -140px;
}
.big-image .border:before {
  left: -180px;
}
.big-image .border:after {
  right: -180px;
}
.big-image .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(http://subtlepatterns.com/patterns/dirty_old_shirt.png);
  opacity: 0.75;
}
.big-image h1, .big-image h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.big-image h1 {
  font-size: 50px;
  line-height: 1.65em;
  padding-bottom: 10px;
  display: block;
  width: 60%;
  margin: 280px auto 0px auto;
  position: relative;
  color: white;
  margin-top: 220px;
  margin-bottom: 70px;
}

.team {
  background: url(http://subtlepatterns.com/patterns/shattered.png);
  border-top: 6px solid #28c5a6;
  border-bottom: 6px solid #28c5a6;
}
.team .team-card {
  width: 100%;
  background-color: #f1f1f1;
  margin-top: 60px;
  margin-bottom: 60px;
  border-top: 3px solid #28c5a6;
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.team .team-card .picture {
  height: 220px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.team .team-card .name {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 15px;
  line-height: 1.8em;
  display: block;
  background: -webkit-linear-gradient(0deg, #28c5a6, #1f967f, #28c5a6);
  background: linear-gradient(90deg, #28c5a6, #1f967f, #28c5a6);
  color: #f4f4f4;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
  margin: 0px;
  width: 75%;
  position: relative;
  margin: -30px auto 0px auto;
}
.team .team-card .name:before, .team .team-card .name:after {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 20px;
  position: absolute;
  bottom: 0px;
}
.team .team-card .name:before {
  left: -10px;
  background: -webkit-linear-gradient(0deg, #28c5a6, #1b8570);
  background: linear-gradient(90deg, #28c5a6, #1b8570);
}
.team .team-card .name:after {
  background: -webkit-linear-gradient(0deg, #1b8570, #28c5a6);
  background: linear-gradient(90deg, #1b8570, #28c5a6);
  right: -10px;
}
.team .team-card .role {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 13px;
  line-height: 1.8em;
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#4a4a4a));
  background: -webkit-linear-gradient(#444444, #4a4a4a);
  background: linear-gradient(#444444, #4a4a4a);
  color: #f4f4f4;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
  margin: 0px;
}
.team .team-card .desc {
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin-top: 8px;
  padding-left: 5%;
  padding-right: 5%;
  background: #f1f1f1;
}
.team .team-card .social {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background: #28c5a6;
}
.team .team-card .social li {
  list-style: none;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}
.team .team-card .social li a {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.35);
  color: white;
  font-size: 1.6em;
  line-height: 1.6em;
}
.team .team-card .social li a i {
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: white;
}
.team .team-card .social li a i:hover {
  color: #ffb434;
}

.portfolio-row {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
}
.portfolio-row .portfolio-piece {
  height: 320px;
  width: 100%;
  overflow: hidden;
  background-image: url(http://placekitten.com/320/350);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.33s ease-out;
  transition: all 0.33s ease-out;
  border: 0px solid #28c5a6;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  float: left;
  position: relative;
}
.portfolio-row .portfolio-piece:nth-of-type(odd) {
  background-image: url(http://placekitten.com/320/351);
}
@media screen and (min-width: 700px) {
  .portfolio-row .portfolio-piece {
    width: 33.3333%;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio-row .portfolio-piece {
    width: 20%;
  }
}
.portfolio-row .portfolio-piece .title, .portfolio-row .portfolio-piece .desc, .portfolio-row .portfolio-piece .overlay {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.33s ease-out;
  transition: all 0.33s ease-out;
}
.portfolio-row .portfolio-piece .overlay {
  width: 100%;
  height: 100%;
  margin: 0px;
  top: 0px;
  left: 0px;
  background: #ffb434;
}
.portfolio-row .portfolio-piece .title {
  display: block;
  width: 100%;
  top: 20%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 29px;
  font-weight: 700;
  color: #28c5a6;
  -webkit-transform: translateY(6px) scaleX(0.85);
  -ms-transform: translateY(6px) scaleX(0.85);
  transform: translateY(6px) scaleX(0.85);
}
.portfolio-row .portfolio-piece .desc {
  display: block;
  width: 100%;
  bottom: 5%;
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
  color: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.75em;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}
.portfolio-row .portfolio-piece:hover .title {
  opacity: 1;
  -webkit-transform: translateY(0px) scaleX(1);
  -ms-transform: translateY(0px) scaleX(1);
  transform: translateY(0px) scaleX(1);
}
.portfolio-row .portfolio-piece:hover .desc {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.portfolio-row .portfolio-piece:hover .overlay {
  opacity: 0.625;
}

/* Introduction animations */
@-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px) scaleY(0.975);
    -ms-transform: translateY(80px) scaleY(0.975);
    transform: translateY(80px) scaleY(0.975);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1);
    -ms-transform: translateY(0px) scaleY(1);
    transform: translateY(0px) scaleY(1);
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px) scaleY(0.975);
    transform: translateY(80px) scaleY(0.975);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1);
    transform: translateY(0px) scaleY(1);
  }
}
.mt-fade-in {
  opacity: 0;
  -webkit-transform: translateY(80px);
  -ms-transform: translateY(80px);
  transform: translateY(80px);
}
.mt-fade-in.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  animation: fade-in 0.4s linear 0s 1;
  -webkit-animation: fade-in 0.4s linear 0s 1;
  -moz-animation: fade-in 0.4s linear 0s 1;
}

.mt-delay-0 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.mt-delay-1 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.mt-delay-2 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.mt-delay-3 {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.mt-delay-4 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.mt-delay-5 {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.navbar {
  padding: 0px;
  margin: 0px;
}
